head
  title Crear Examen
include includes/header
body
  block content
    .container
      .row-justify-content-center


        // Primera columna - Formulario de Examen
        .col-md-8
          h1.mb-8.link-custom Crear Examen
          br
          form.form-group(action="/examenes/crear", method="post")
            label(for="nombre" class="link-custom") Nombre del Examen
            input.form-control(type="text", name="nombre", required)
            label(for="tipoMuestraId" class="link-custom") Tipo de muestra
            select.form-control(name='tipoMuestraId', required)
              each TipoMuestra in tipoMuestras
                option(value=TipoMuestra.id) #{TipoMuestra.nombre+ "-" + TipoMuestra.id}
            button.btn.btn-custom.btn-block(type="submit" value="Crear Examen" id="crearExamen") Crear Examen
