head
  title Crear Examen
include includes/header
body
  block content
    .container
      .row-justify-content-center

<<<<<<< Updated upstream
        // Primera columna - Formulario de Examen
        .col-md-8
          h1.mb-8.link-custom Crear Examen
          br
=======
              form.form-group(action="/examenes/crear", method="post")
                label(for="nombre" class="link-custom") Nombre del Examen
                input.form-control(type="text", name="nombre", required)
                label(for="tipoMuestraId" class="link-custom") Tipo de muestra
                select.form-control(name='tipoMuestraId', required)
                    each TipoMuestra in tipoMuestras
                        option(value=TipoMuestra.id) #{TipoMuestra.nombre+ "-" + TipoMuestra.id}

          button.btn.btn-primary#agregarDeterminacion(type="button") Agregar Determinación
          button.btn.btn-custom.btn-block(type="submit" value="Crear Examen") Crear Examen

script.
  document.getElementById('agregarDeterminacion').addEventListener('click', function() {
    var formularioDeterminacion = document.createElement('form');
    formularioDeterminacion.classList.add('form-group');
    formularioDeterminacion.action = "/examenes/crearDeterminacion"; // Ajusta la acción según sea necesario
    formularioDeterminacion.method = "post";

    var labelNombreDeterminacion = document.createElement('label');
    labelNombreDeterminacion.setAttribute('for', 'nombreDeterminacion');
    labelNombreDeterminacion.classList.add('link-custom');
    labelNombreDeterminacion.innerText = "Nombre de la Determinación";

    var inputNombreDeterminacion = document.createElement('input');
    inputNombreDeterminacion.classList.add('form-control');
    inputNombreDeterminacion.setAttribute('type', 'text');
    inputNombreDeterminacion.setAttribute('name', 'nombreDeterminacion');
    inputNombreDeterminacion.setAttribute('required', 'true');

    var labelUnidadMedida = document.createElement('label');
    labelUnidadMedida.setAttribute('for', 'unidadMedida');
    labelUnidadMedida.classList.add('link-custom');
    labelUnidadMedida.innerText = "Unidad de Medida";

    var inputUnidadMedida = document.createElement('input');
    inputUnidadMedida.classList.add('form-control');
    inputUnidadMedida.setAttribute('type', 'text');
    inputUnidadMedida.setAttribute('name', 'unidadMedida');
    inputUnidadMedida.setAttribute('required', 'true');

    var botonAgregarValores = document.createElement('button');
    botonAgregarValores.classList.add('btn', 'btn-info');
    botonAgregarValores.innerText = "Agregar Valores de Referencia";
    botonAgregarValores.type = "button";

    formularioDeterminacion.appendChild(labelNombreDeterminacion);
    formularioDeterminacion.appendChild(inputNombreDeterminacion);
    formularioDeterminacion.appendChild(labelUnidadMedida);
    formularioDeterminacion.appendChild(inputUnidadMedida);
    formularioDeterminacion.appendChild(botonAgregarValores);

    botonAgregarValores.addEventListener('click', function() {
      var formularioValoresReferencia = document.createElement('form');
      formularioValoresReferencia.classList.add('form-group');
      formularioValoresReferencia.action = "/examenes/agregarValoresReferencia"; // Ajusta la acción según sea necesario
      formularioValoresReferencia.method = "post";

      var labelRangoMinimo = document.createElement('label');
      labelRangoMinimo.setAttribute('for', 'rangoMinimo');
      labelRangoMinimo.classList.add('link-custom');
      labelRangoMinimo.innerText = "Rango Mínimo";

      var inputRangoMinimo = document.createElement('input');
      inputRangoMinimo.classList.add('form-control');
      inputRangoMinimo.setAttribute('type', 'text');
      inputRangoMinimo.setAttribute('name', 'rangoMinimo');
      inputRangoMinimo.setAttribute('required', 'true');

      var labelRangoMaximo = document.createElement('label');
      labelRangoMaximo.setAttribute('for', 'rangoMaximo');
      labelRangoMaximo.classList.add('link-custom');
      labelRangoMaximo.innerText = "Rango Máximo";

      var inputRangoMaximo = document.createElement('input');
      inputRangoMaximo.classList.add('form-control');
      inputRangoMaximo.setAttribute('type', 'text');
      inputRangoMaximo.setAttribute('name', 'rangoMaximo');
      inputRangoMaximo.setAttribute('required', 'true');

      var labelNombreDeterminacionReferencia = document.createElement('label');
      labelNombreDeterminacionReferencia.setAttribute('for', 'nombreDeterminacionReferencia');
      labelNombreDeterminacionReferencia.classList.add('link-custom');
      labelNombreDeterminacionReferencia.innerText = "Nombre de la Determinación (Referencia)";

      var inputNombreDeterminacionReferencia = document.createElement('input');
      inputNombreDeterminacionReferencia.classList.add('form-control');
      inputNombreDeterminacionReferencia.setAttribute('type', 'text');
      inputNombreDeterminacionReferencia.setAttribute('name', 'nombreDeterminacionReferencia');
      inputNombreDeterminacionReferencia.setAttribute('required', 'true');

      var botonCrearValores = document.createElement('button');
      botonCrearValores.classList.add('btn', 'btn-success');
      botonCrearValores.setAttribute('type', 'submit');
      botonCrearValores.innerText = "Crear Valores de Referencia";

      formularioValoresReferencia.appendChild(labelRangoMinimo);
      formularioValoresReferencia.appendChild(inputRangoMinimo);
      formularioValoresReferencia.appendChild(labelRangoMaximo);
      formularioValoresReferencia.appendChild(inputRangoMaximo);
      formularioValoresReferencia.appendChild(labelNombreDeterminacionReferencia);
      formularioValoresReferencia.appendChild(inputNombreDeterminacionReferencia);
      formularioValoresReferencia.appendChild(botonCrearValores);

      document.querySelector('.container.mt-5 .row.justify-content-center .col-md-6').appendChild(formularioValoresReferencia);
    });

    document.querySelector('.container.mt-5 .row.justify-content-center .col-md-6').appendChild(formularioDeterminacion);
  });


>>>>>>> Stashed changes

          form.form-group(action="/examenes/crear", method="post")
            label(for="nombre" class="link-custom") Nombre del Examen
            input.form-control(type="text", name="nombre", required)
            label(for="tipoMuestraId" class="link-custom") Tipo de muestra
            select.form-control(name='tipoMuestraId', required)
              each TipoMuestra in tipoMuestras
                option(value=TipoMuestra.id) #{TipoMuestra.nombre+ "-" + TipoMuestra.id}
            button.btn.btn-custom.btn-block(type="submit" value="Crear Examen" id="crearExamen") Crear Examen
