extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        h2.text-center.mb-4 Determinaciones del Examen #{examen.nombre}

        table.table.table-bordered.table-striped
          thead.thead-dark
            tr
              th Nombre de la Determinación

          tbody
            each determinacion in examen.Determinacions
              tr
                td= determinacion.nombre
