label(for='determinacionNombre' class='link-custom') Nombre de la Determinación
input.form-control(type='text', name='determinacionNombre', required)
label(for='determinacionUnidadMedida' class='link-custom') Unidad de Medida
input.form-control(type='text', name='determinacionUnidadMedida', required)
