html
  head
    title Home
  include includes/header
body
    block content
    
    h1.mb-4.link-custom Lista de Ordenes de Trabajo
    a.btn.btn-custom(href="/ordenes/crear") Crear Orden
    br
    br

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
              th Codigo 
              th Paciente
              th Estado
              th Bioquímico
              th Examen
              th N° de Muestra

        tbody
          each orden in ordenes
            tr
              td #{orden.id}
              td  
                - let paciente = pacientes.find(t => t.id === orden.pacienteId) 
                = paciente ? paciente.nombre + " " + paciente.apellido : 'Sin nombre'
              td  
                - let estado = estados.find(t => t.id === orden.estadoId) 
                = estado ? estado.nombre : 'Sin estado'
              td  
                - let bioquimico = bioquimicos.find(t => t.id === orden.bioquimicoId) 
                = bioquimico ? bioquimico.nombre + " " + bioquimico.apellido : 'Sin nombre'
              td  
                - let examen = examenes.find(t => t.id === orden.examenId) 
                = examen ? examen.nombre  : 'Sin nombre'
              td  
                - let muestra = muestras.find(t => t.pacienteId === orden.pacienteId) 
                = muestra ? muestra.id  : 'Sin muestra'