head
  title Crear Examen
  include includes/header
body
  block content
    .container
      .row-justify-content-center        
        // Formulario de Determinaciones
        .col-md-8
          h1.mb-8.link-custom Determinaciones de Examen
          br
          p.link-custom ID del Examen: #{resultado.id}
          form.form-group(action="/agregarDeterminacion", method="post")
            label(for="nombre" class="link-custom") Nombre de la Determinación
            input.form-control(type="text", name="nombre", required)
            label(for="unidadMedida" class="link-custom") Unidad de Medida
            input.form-control(type="text", name="unidadMedida", required)
            input(type="hidden", name="examenId", value=resultado.id)
            button.btn.btn-custom#agregarDeterminacion1(type="submit") Crear Determinación
